* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*================ Khoi phuc co chu theo rem ========================== */
body {
  font-size: 1.6 rem;
}
/*===================== dung chung====================  */
a {
  text-decoration: none;
}
.btn {
  /*  */

  display: inline-block;
  padding: 11px 16px;
  min-width: 118px;
  line-height: 60px;
  background: #124c5f;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  color: #fff;
}
/* ======================= Header ====================== */
.header.fixed {
  position: sticky;
  top: -28px;
}
.header .body-header {
  display: flex;
  align-items: center;
  padding: 36px 0px 8px;
}
.main-content {
  width: 1193px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 60px);
}
.menu ul {
  display: flex;
}
.menu {
  margin-left: auto;
}
header .menu a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
  padding: 8px 42px;
}
header .menu a:hover {
  color: rgb(235, 196, 66);
  font-weight: 600;
}
.background-head .button-explore {
  /* Rectangle 6 */

  position: absolute;
  width: 192.69px;
  height: 59.6px;
  left: 217px;
  top: 479px;
}
.button-explore {
  background: #124c5f;
  border-radius: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: inline-flex;
  align-items: center;
  padding: 12px 25px;
  background-color: #0b4a5c; /* màu nền đậm */
  color: #ffffff;
  border-radius: 8px; /* bo góc cho nút */
  font-size: 16px;
  font-weight: bold;
}

.button-explore:hover {
  background-color: #083946; /* màu khi hover */
}

.button-explore .text-explore {
  margin-right: 10px; /* khoảng cách giữa text và icon */
}

.button-explore .img-explore img {
  width: 16px;
  height: 16px;
}
.slider-text {
  /* service heading */

  position: absolute;
  width: 261px;
  height: 42.53px;
  left: 168px;
  top: 796px;
}
.slider-item {
  /* services */

  position: absolute;
  width: 1124px;
  height: 225px;
  left: 158px;
  top: 891px;
}
.slider-item .icon {
  display: flex; /* Use flexbox to arrange items horizontally */
  justify-content: space-between; /* Space items evenly */
  align-items: center;
  overflow: hidden; /* Align items vertically */
}
.slider-item .icon:hover {
  overflow-x: scroll;
}
.slider-item .icon ul {
  display: flex; /* Use flexbox for the unordered list */
  list-style: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
}

.slider-item .icon li {
  margin: 0 10px; /* Add spacing between items */
}

.slider-item .icon a {
  display: block; /* Make each link a block element to ensure proper spacing */
}
.about-section .button-explore {
  /* btn-explore */

  position: absolute;
  width: 198.39px;
  height: 59.6px;
  left: 730px;
  top: 1670px;
}
.about-section .button-video {
  /* video */

  position: absolute;
  width: 173.86px;
  height: 150.95px;
  left: 449.09px;
  top: 1348.88px;
}
.contain {
  /* products */

  position: absolute;
  width: 1177.61px;
  height: 741px;
  left: 139.39px;
  top: 2020px;
}
.contain-food {
  margin-bottom: 50px;
}
.contain span {
  /* 25 % OFF all Products */

  font-family: "Glades Bold";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 46px;

  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contain .contain-list {
  display: flex;
  padding-bottom: 80px;
}
.contain .food-img {
  margin-bottom: 30px;
}
.contain-list {
  margin-bottom: 80px;
}
.content {
  /* detail section */

  position: absolute;
  width: 1371px;
  height: 674.08px;
  left: 175px;
  top: 70px;
}
.content .content-right {
  /* Group 12 */

  position: absolute;
  width: 855px;
  height: 674.08px;
  left: 691px;
  top: 2731px;
}
.content .content-left {
  /* No one appreciates the very special genius of your conversation as the dog does. */
  position: absolute;
  line-height: 42px;
  letter-spacing: 0.05em;

  color: #000000;
}
.content .left-text {
  /* No one appreciates the very special genius of your conversation as the dog does. */

  position: absolute;
  width: 508px;
  height: 326px;
  left: 177px;
  top: 2787px;

  font-family: "Pangolin";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
  letter-spacing: 0.05em;

  color: #000000;
}
.content .button-explore {
  /* btn-explore */

  position: absolute;
  width: 198.39px;
  height: 59.6px;
  left: 178px;
  top: 3020px;
}
